@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
form,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* WHOLE */
body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #6F94B0, #A8C5D3);
}

/* HEADER */
@keyframes draw-bar {
  from {
    width: 0;
    height: 0;
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    width: 25px;
    height: 2px;
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-draw-bar {
  animation: draw-bar 0.5s ease forwards;
  transform-origin: left;
}

/* ABOUT */
.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* SVG */
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

svg {
  fill: none;
  stroke-width: 40px;
  stroke-linecap: round;
}

path {
  stroke-dasharray: var(--length);
  stroke-dashoffset: var(--length);
  animation: draw var(--duration) linear var(--delay) forwards;
}

.svg-line1 path,
.svg-line2 path {
  stroke: #1A2B3C;
  stroke-dasharray: var(--length);
  stroke-dashoffset: var(--length);
  animation: draw var(--duration) ease-in forwards;
  animation-delay: var(--delay);
}