@keyframes folderAnimation {
  0% {
    transform: translateZ(-1400px) translateY(-700px) translateX(-900px) scale(0);
  }

  100% {
    transform: translateZ(-50%) translateY(-50%) translateX(-50%) scale(1);
  }
}

.site,
.award,
.school,
.skill,
.project {
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #4A4A4B;
  background-color: #fff;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(110, 110, 110);
  box-shadow: 3px 5px 30px 10px #00000059;
  border-radius: 15px;
  animation: folderAnimation 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.site .main img:hover,
.award .main img:hover,
.school .main img:hover,
.project .main .projects:last-child img:hover {
  animation: none;
  transform: scale(1.4);
}

.project .main img:hover {
  animation: none;
  transform: scale(1.8, 1.4);
}

.school {
  width: 910px;
  height: 470px;
}

.skill {
  width: 700px;
  height: 550px;
}

.project {
  width: 1250px;
  height: 580px;
}

.site {
  width: 1100px;
  height: 620px;
}

.award {
  width: 970px;
  height: 565px;
}

/* header */
header {
  height: 25px;
  padding: 25px;
  background-color: #f7f8f8;
  border-radius: 15px 15px 0px 0px;
  border-bottom: 1.3px solid #DAD9D9;
}

.header_container {
  display: flex;
}

.header_container h1 {
  font-size: 20px;
  margin-left: 20px;
}

.close, 
.minimize,
.maximize {
  width: 17px;
  height: 17px;
  padding: 1.8px;
  margin: 3px 10px 0px 0px;
  border-radius: 50%;
  cursor: pointer;
}

.close {
  background-color: #F25252;
  border: 1px solid #E3473E;
}

.minimize {
  background-color: #FEBC2C;
  border: 1px solid #E3A940;
}

.maximize {
  background-color: #26C940;
  border: 1px solid #1EAB25;
}

.close span,
.minimize span,
.maximize span {
  font-size: 12px;
  font-weight: 600;
  color: transparent;
}

.close span:hover {
  color: #730202;
}

.minimize span:hover {
  color: #975600;
}

.maximize span:hover {
  color: #056102;
}

/* main */
.main {
  padding: 30px;
}

.main img {
  width: 155px;
  height: 220px;
  margin: 0px 8px;
  transition: all 0.3s linear;
}

.main p {
  margin: 15px;
  font-size: 18px;
}

/* school */
.school img {
  width: 190px;
  height: 290px;
  cursor: default;
}

/* skill */
.skill .skills {
  display: inline-block;
  margin: 20px;
}

.skill .skills img {
  width: 120px;
  height: 120px;
  cursor: default;
}

/* project */
.project .main {
  vertical-align: middle;
}

.project .projects {
  display: inline-block;
  margin: 12px;
}

.project .projects a {
  display: block;
  color: #4A4A4B;
}

.project .projects a h3, 
.project .projects a p {
  display: block;
}

.project .projects a h3 {
  margin: 7px 0px;
}

.project .projects a p {
  font-size: 15px;
  margin: 0px;
}

.project .projects img {
  width: 430px;
  height: 350px;
}

.project .projects:last-child img {
  width: 170px;
  height: 360px;
}

/* site */
.site a {
  display: inline-block;
}

.site a img {
  width: 500px;
  height: 440px;
}

.site h4 {
  color: #4A4A4B;
  text-shadow: none;
  margin: 10px 0px;
}

/* award */
.award .crape {
  display: inline-block;
  width: 280px;
  margin: 0px 10px;
}

.award .crape img {
  width: 250px;
  height: 350px;
  cursor: default;
}
